<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">Main Menu</a>
<br>
<a href="/blog/feedback">Feedback</a>
    {% for pos in result %}
        <p>Title: {{ pos.title }}</p>
        <p>Content: {{ pos.content }}</p>
        <p>Tag: {{ pos.tag_id_id }}</p>
        <a href="/blog/{{ pos.id }}">Read More</a>
        <br>
    {% endfor %}

</body>
</html>