<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Name: {{ result.name }}</p>
    <p>Type: {{ result.animal_type }}</p>
    <p>Age: {{ result.age }}</p>
    <p>Breed: {{ result.breed }}</p>
    <p>Availability: {{ result.availability }}</p>
    <p>Description: {{ result.description }}</p>
    <p>Health: {{ result.healthy }}</p>
    <p>Sex: {{ result.sex }}</p>
</body>
</html>