<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Name: {{ result.name }}</p>
    <p>Type: {{ result.animal_type }}</p>
    <p>Age: {{ result.age }}</p>
    <p>Breed: {{ result.breed }}</p>
    <p>Availability: {{ result.availability }}</p>
    <p>Description: {{ result.description }}</p>
    <p>Health: {{ result.healthy }}</p>
    <p>Sex: {{ result.sex }}</p>
    {% if reserved_time is not False %}
        <p>Reserved_time</p>
        {% for time_item in reserved_time %}
            {% for time in time_item %}
                <p>_____ ({{ time.year }}_{{ time.month }}_{{ time.day }})      {{ time.hour }}:{{ time.minute }}</p>
            {% endfor %}
            ++++++++++++++++++++++
        {% endfor %}
        <br>

    {% else %}
    <p>No reserved time</p>
    {% endif %}
    <p>Reserve your time:</p>
    <form method="post">
        {% csrf_token %}
        <input type="number" name="val">
        <input type="submit" name="submit">
    </form>
</body>
</html>