<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="get">
        <label for="sort_by">Sort By : </label>
        <select id="sort_by" name="sort_by">
            <option value="">All</option>
                <option value="name" name="name">name</option>
                <option value="animal_type" name="animal_type">animal_type</option>
                <option value="age" name="age">age</option>
                <option value="breed" name="breed">breed</option>
                <option value="availability" name="availability">availability</option>
                <option value="healthy" name="healthy">healthy</option>
                <option value="sex" name="sex">sex</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>